nav {
  z-index: 1;
}

section {
  margin: 0 30%;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  section {
    margin: 12.5%;
  }
}

.parallax:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 10px solid black;
  z-index: -1;
}
