.cards-front {
  background: red;
  padding: 0;
}
.alert-date {
  font-size: 12px;
}

.alert-head {
  font-size: 30px;
  text-align: center;
}

.alert-para {
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .alert-date {
    font-size: 8px;
  }
  .alert-head {
    font-size: 20px;
  }
  .alert-para {
    font-size: 12px;
  }
}
