.content {
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 50px;
  width: 100%;
}

p {
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
}
h1 {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .content {
    margin: 0 auto;
  }
  p {
    font-size: 17px;
  }
  h1 {
    margin-top: 50px;
    font-size: 30px;
  }
}
