nav {
  z-index: 1;
}

.latestContent {
  display: flex;
}

section {
  margin: 0 30%;
  margin-bottom: 50px;
  padding-bottom: 100px;
  text-align: center;
}
.contact-body > p {
  font-size: 2.3vh;
}

@media (max-width: 768px) {
  section {
    margin: 12.5%;
  }
  .latestContent {
    flex-direction: column;
  }
  .latest {
    order: -1;
  }
  .scrollTop {
    height: 45px;
    width: 45px;
  }

  .contact-h1 {
    font-size: 4.3vh;
  }

  .contact-body > p {
    font-size: 2vh;
  }
}

.container {
  padding-top: 20px;
}
