nav {
  z-index: 1;
}

section {
  margin: 0 30%;
  margin-bottom: 50px;
  padding-bottom: 100px;
}

@media (max-width: 768px) {
  section {
    margin: 12.5%;
  }
}

.container {
  padding-top: 20px;
}
