/* the slides */
.slick-slide {
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -15px;
}
.impLinks {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
.img_slide {
  border: 1px double #3498db;
}

.slider {
  margin-top: 100px;
  margin-bottom: 100px;
}
.title_slide {
  text-align: center;
  margin: 0 auto;
  font-size: 2.25vh;
}

@media (max-width: 768px) {
  .slick-slide {
    margin: 0 8px;
  }

  .img_slide {
  }
  .iL-h1 {
    font-size: 4.3vh;
  }
}
