.btn {
  color: white;
  font-weight: 600;
  background: #3498db;
}

a {
  color: rgba(0, 0, 0, 0.68);
  transition: all 0.3s ease;
}

.modal-title {
  color: rgba(0, 0, 0, 0.68);
  font-size: 24px;
}

a:hover {
  text-decoration: none;
}

.form-text {
  font-size: large;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .form-label {
    font-size: 14x;
  }
  .btn {
    font-size: 15px;
  }
}
