.empty {
  font-size: 1vh;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  thead tr th {
    font-size: 2.2vh;
  }
  tbody {
    font-size: 2.2vh;
  }
  tbody span {
    font-size: 2vh;
  }
}
