.title {
  background: transparent;
  padding: 20;
  font-weight: 700;
  position: absolute;
  font-size: 50px;
  text-shadow: black 2px 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
@media (max-width: 768px) {
  .title {
    font-size: 35px;
  }
}

.parallax {
  background-attachment: fixed;
}
