.polls-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.option {
  width: 50%;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  white-space: pre-wrap;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@media only screen and (max-width: 768px) {
  .option {
    font-size: 2vh;
    flex-direction: column;
  }
}
