<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  html{
    padding: 0;
  }
body {
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 5vh;
  text-shadow: 2px 2px black;
}
div{
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.8);
  flex-direction: column;
}
p{
  font-size: 3vh;
}
</style>
</head>
<body>
  <div>
    <img src="/icon.png" height="80ch" width="80ch" alt="logo"/>
<h1>Welcome to RBI Officer's Association</h1>
</div>
</body>
</html>